@charset "UTF-8";
/*utils*/
:root {
  --backgrount-color: #Fff;
  --primary-text-color: #212121;
  --text-color-buttonlink: #2196F3;
  --text-color-active: #ffffff;
  --text-color: #757575;
  --background-button: #F5F4FA;
  --background-first-section: #2F303A;
  --background-gradient: rgba(47, 48, 58, 0.4);
  --background-card-text: rgba(47, 48, 58, 0.8);
  --backgrount-footer-item: rgba(255, 255, 255, 0.1);
  --background-overlay: rgba(33, 150, 243, 0.9);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --color-logo: #000000;
  --color-footer-mail-phone: rgba(255, 255, 255, 0.6);
  --color-border: #eeeeee;
  --color-border-header: #ececec;
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-active-form: rgba(33, 150, 243, 1);
  --color-fill-icons: #AFB1B8;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-border-button: rgba(0, 0, 0, 0.1);
}

/*base*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--backgrount-color);
  color: var(--primary-text-color);
  border: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.main {
  margin: 0, auto;
}

/*components*/
/* секция чем мы занимаемся*/
.about {
  padding: 0 0 95px;
}
@media screen and (max-width: 1200px) {
  .about {
    display: none;
  }
}
.about__head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  height: 42px;
  margin: 0 0 50px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.about__item {
  position: relative;
}
.about__cart-text {
  position: absolute;
  /* display: inline-block; */
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: var(--background-card-text);
  color: var(--backgrount-color);
  text-align: center;
  line-height: 70px;
  font-size: 14px;
  font-weight: 700;
}

/*backdrop modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) 250ms cubic-bezier(0.4, 0, 0.2, 1), scale(0.9) 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: translate(-50%, -50%) 250ms cubic-bezier(0.4, 0, 0.2, 1), scale(0.9) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  background-color: var(--text-color-buttonlink);
  color: var(--text-color-active);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--text-color-buttonlink);
  color: var(--text-color-active);
  border: none;
}

/*кнопки портфолио*/
.works {
  padding: 95px 0;
}
@media screen and (max-width: 768px) {
  .works {
    margin: 0 auto;
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works {
    padding: 14px 0 60px 0;
  }
}
.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .works__list {
    width: 400px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.works-button {
  padding: 6px 22px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-button:hover, .works-button:focus {
  color: var(--text-color-active);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--text-color-buttonlink);
  border: 0px solid var(--text-color-buttonlink);
}
@media screen and (max-width: 768px) {
  .works__list-item {
    margin-bottom: 15px;
  }
}

/* Наші клієнти */
.clients {
  padding: 95px 0;
}
@media screen and (max-width: 768px) {
  .clients {
    width: 480px;
  }
}
@media screen and (max-width: 1159px) {
  .clients {
    margin: 0 auto;
    padding: 60px 0;
  }
}
.clients__head {
  display: block;
  text-align: center;
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 768px) {
  .clients__head {
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__head {
    margin: 0 0 50px;
  }
}
.clients__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .clients__list {
    width: 480px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.clients__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-fill-icons);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .clients__list-link {
    width: 210px;
  }
}
.clients__list__item {
  border-radius: 4px;
}
.clients__list-icon {
  width: 100%;
  height: 100%;
  fill: var(--color-fill-icons);
}
.clients__list-link .clients__list-icon {
  border: 1px solid var(--color-fill-icons);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list-link:focus .clients__list-icon, .clients__list-link:hover .clients__list-icon {
  border: 1px solid var(--text-color-buttonlink);
  fill: var(--text-color-buttonlink);
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:hover, .email:focus {
  color: var(--text-color-buttonlink);
  fill: var(--text-color-buttonlink);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .email {
    font-size: 12px;
    line-height: 1.166;
  }
}

/* первая секция */
.first-section {
  margin: 0 auto;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .first-section {
    width: 480px;
    height: 400px;
    margin: 0 auto;
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url(../images/main-small.jpg);
    background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url(../images/main-small.jpg);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .first-section {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url(../images/main-small@2x.jpg);
    background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url(../images/main-small@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .first-section {
    max-width: 768px;
    height: 400px;
    margin: 0 auto;
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url(../images/main-medium.jpg);
    background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url(../images/main-medium.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .first-section {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url(../images/main-medium@2x.jpg);
    background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url(../images/main-medium@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .first-section {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url(../images/main.jpg);
    background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url(../images/main.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .first-section {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url(../images/main@2x.jpg);
    background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url(../images/main@2x.jpg);
  }
}
.first-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-section__tittle {
  width: 696px;
  margin: 0 0 30px;
  color: var(--text-color-active);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .first-section__tittle {
    width: 360px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.first-section__button {
  display: inline-block;
  width: 216px;
  height: 50px;
  min-height: 50px;
  background-color: var(--text-color-buttonlink);
  color: var(--text-color-active);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

/*footer */
.footer {
  background-color: var(--background-first-section);
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 480px;
    margin: 0 auto;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
.footer__address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}
@media screen and (max-width: 768px) {
  .footer__address-container {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__address-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__address {
  color: var(--text-color-active);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer__phone {
  color: var(--color-footer-mail-phone);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__mail {
  text-decoration: none;
  color: var(--color-footer-mail-phone);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__social-container {
  margin: 0 95px 0 70px;
}
@media screen and (max-width: 768px) {
  .footer__social-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 60px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social-container {
    margin: 0 0 0 160px;
  }
}
.footer__social-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--text-color-active);
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer__social-text {
    text-align: center;
  }
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
  list-style: none;
}
.footer__link-item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--text-color-active);
  background-color: var(--backgrount-footer-item);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-item:hover, .footer__link-item:focus {
  border-radius: 50%;
  background-color: var(--text-color-buttonlink);
}

.footer-form__label {
  display: inline-block;
  margin: 14px 0;
  width: 350px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__label {
    text-align: center;
  }
}
.footer-form__container {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer-form__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}
.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--text-color-active);
}
@media screen and (max-width: 768px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}
.footer-form__input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form__input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form__button {
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}
.footer-form__icon {
  fill: var(--backgrount-color);
}

.form__head {
  margin: 0 0 12px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.form__label {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.form__field {
  position: relative;
}
.form__field-input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 42px;
  border: 1px solid var(--color-border-form);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field-input:focus {
  border: 1px solid var(--color-active-form);
}
.form__field-input + .form__field-icon {
  fill: var(--color-logo);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field-input:focus + .form__field-icon {
  fill: var(--color-active-form);
}
.form__field-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__field-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid var(--color-border-form);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field-textarea:focus {
  border: 1px solid var(--color-active-form);
}
.form__field-textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field-textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field-textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field-textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.form__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__checkbox-link {
  color: var(--text-color-buttonlink);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.form__checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-logo);
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox-input:checked + .form__checkbox-icon {
  fill: var(--text-color-active);
  background-color: var(--text-color-buttonlink);
  border: 2px solid var(--text-color-buttonlink);
}
.form__field-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--text-color-buttonlink);
  color: var(--backgrount-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form__checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 768px) {
  .form__checkbox-label {
    font-size: 12px;
  }
}

/* вторая секция */
.features {
  padding: 95px 0;
}
@media screen and (max-width: 768px) {
  .features {
    width: 480px;
    margin: 0 auto;
    padding: 60px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .features__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
  background-color: var(--background-button);
  height: 120px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item-container {
    width: 354px;
  }
}
@media screen and (max-width: 768px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
.features__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 10px;
}
@media screen and (max-width: 768px) {
  .features__list-title {
    text-align: center;
  }
}
.features__list-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
  margin: 0 0;
}
@media screen and (max-width: 768px) {
  .features__list-text {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list-text {
    width: 354px;
  }
}

/*gallery*/
.gallery {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .gallery {
    width: 480px;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.gallery__item {
  height: 405px;
  list-style: none;
  border: 1px solid var(--color-border);
}
@media screen and (max-width: 768px) {
  .gallery__item {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item {
    width: 354px;
    height: 440PX;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: 370px;
  }
}
.gallery__item:focus, .gallery__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-card {
  text-decoration: none;
}
.gallery__container {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--background-overlay);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__container:hover .gallery__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
.gallery__overlay-text {
  display: inline-block;
  padding: auto;
  margin: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--backgrount-color);
}
.gallery__head-text {
  padding: 20px 25px;
}
.gallery__card-head {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery__card-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

/* header */
.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--color-border-header);
}
@media screen and (max-width: 767px) {
  .header {
    width: 480px;
    margin: 0 auto;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 95px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  height: 16px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}
.header__contact-container {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
.header__nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__nav-link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--text-color-buttonlink);
}
.header__nav-item {
  list-style: none;
  position: relative;
}
.header__nav-link.current {
  color: var(--text-color-buttonlink);
}
.header__nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4PX;
  background-color: var(--text-color-buttonlink);
}
.header__menu-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__menu-icon {
    display: block;
  }
}
.header__menu-button {
  background-color: var(--text-color-active);
  border: none;
}
@media screen and (max-width: 767px) {
  .header__email {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__phone {
    display: none;
  }
}

.logo {
  margin: 0 0 20px;
  text-decoration: none;
  color: var(--color-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  height: 31px;
}
.logo__web {
  color: var(--text-color-buttonlink);
}
.logo__header {
  margin-top: 24px;
}
.logo--footer {
  color: var(--backgrount-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  max-height: 796px;
  padding: 48px 0;
  background-color: var(--text-color-active);
  display: none;
  overflow-y: scroll;
}
.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--text-color-active);
  border: none;
}
.mobile-menu__close:hover, .mobile-menu__close:focus {
  fill: var(--text-color-buttonlink);
  cursor: pointer;
}
.mobile-menu__list {
  margin-bottom: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  list-style: none;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.mobile-menu__contact-container {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile-menu__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(text-color-buttonlink);
}
.mobile-menu__email {
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color-buttonlink);
}
.mobile-menu__social-list > .mobile-menu__social-item:not(:first-child)::before {
  content: " ";
  border: 1px solid var(--primary-text-color);
  margin-right: 15px;
}
.mobile-menu--current {
  color: var(--text-color-buttonlink);
}

.mobile-menu.is-open {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--text-color-active);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-border-button);
  border-radius: 50%;
  background-color: var(--text-color-active);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  fill: var(--text-color-buttonlink);
  cursor: pointer;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  gap: 10px;
  margin: 0;
  padding: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover, .phone:focus {
  color: var(--text-color-buttonlink);
  fill: var(--text-color-buttonlink);
}
@media screen and (max-width: 767px) {
  .phone {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone {
    font-size: 12px;
    line-height: 1.166;
  }
}

/*секция наша команда */
.team {
  padding: 60px 0;
  margin: 0 auto;
  background-color: var(--background-button);
}
@media screen and (max-width: 768px) {
  .team {
    width: 480px;
  }
}
.team__head {
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .team__head {
    margin: 0 auto 30px auto;
    width: 480px;
    text-align: center;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .team__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px var(--color-shadow);
          box-shadow: 0px 4px 4px var(--color-shadow);
  background-color: var(--text-color-active);
}
@media screen and (max-width: 768px) {
  .team__card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .team__list > .team__card:not(:last-child) {
    margin: 0 0 30px;
  }
}
.team__card-name {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__card-profession {
  margin: 0;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__card-container {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.team__card-social-list {
  width: 0 auto;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.team__card-social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--color-fill-icons);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__card-social-link:focus, .team__card-social-link:hover {
  background-color: var(--text-color-buttonlink);
  fill: var(--text-color-active);
}
@media screen and (max-width: 768px) {
  .team__image {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__image {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__image {
    width: 270px;
    height: 260px;
  }
}

/*layout*/
/* Центрующий контейнер */
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */