:root {
    --backgrount-color: #Fff;
    --primary-text-color: #212121;
    --text-color-buttonlink: #2196F3;
    --text-color-active: #ffffff;
    --text-color: #757575;

    --background-button: #F5F4FA;
    --background-first-section: #2F303A;
    --background-gradient: rgba(47, 48, 58, 0.4);
    --background-card-text: rgba(47, 48, 58, 0.8);
    --backgrount-footer-item: rgba(255, 255, 255, 0.1);
    --background-overlay: rgba(33, 150, 243, 0.9);
    --background-backdrop: rgba(0, 0, 0, 0.2);

    --color-logo: #000000;
    --color-footer-mail-phone: rgba(255, 255, 255, 0.6);
    --color-border: #eeeeee;
    --color-border-header: #ececec;
    --color-border-form: rgba(33, 33, 33, 0.2);
    --color-active-form: rgba(33, 150, 243, 1);
    --color-fill-icons: #AFB1B8;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-border-button: rgba(0, 0, 0, 0.1);

}