.form {

    &__head {
        margin: 0 0 12px 0;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-text-color);
    }

    &__label {
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: var(--text-color);
        margin-bottom: 4px;
    }

    &__field {
        position: relative;
    }

    &__field-input {
        width: 100%;
        height: 40px;
        padding: 0 12px 0 42px;

        border: 1px solid var(--color-border-form);
        border-radius: 4px;
        outline: none;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__field-input:focus {
        border: 1px solid var(--color-active-form);
    }

    &__field-input+&__field-icon {
        fill: var(--color-logo);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__field-input:focus+.form__field-icon {
        fill: var(--color-active-form);
    }
    
    &__field-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__field-textarea{
        width: 100%;
        height: 120px;
        resize: none;
        margin-bottom: 20px;
        padding: 12px 16px;

        border: 1px solid var(--color-border-form);
        border-radius: 4px;
        outline: none;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__field-textarea:focus {
        border: 1px solid var(--color-active-form);
    }

    &__field-textarea::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &__checkbox {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__checkbox-input {
        appearance: none;
    }

    &__checkbox-link {
        color: var(--text-color-buttonlink);
        text-decoration-line: underline;
    }

    &__checkbox-icon {
        width: 16px;
        height: 15px;
        border: 2px solid var(--color-logo);
        border-radius: 2px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        fill: transparent;
        transition:
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__checkbox-input:checked+&__checkbox-icon {
        fill: var(--text-color-active);
        background-color: var(--text-color-buttonlink);
        border: 2px solid var(--text-color-buttonlink);
    }

    &__field-button {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 50px;

        outline: none;
        border: none;
        border-radius: 4px;

        background-color: var(--text-color-buttonlink);
        color: var(--backgrount-color);

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__checkbox-label{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;

        @media screen and (max-width:768px) {
            font-size: 12px;
        
            }
    }
}

